* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../images/background.jpg);
  background-size: 2000px;
}

.App {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App__title {
  border-radius: 20px 20px 0 0;
  width: 1024px;
  text-align: center;
  padding: 10px 0 20px;
  color: #F9F5E7;
  background-color: #A7727D;
  text-shadow: 2px 2px black;
}

.App__footer {
  text-align: center;
  padding: 10px;
  width: 1024px;
  background-color: #A7727D;
  color: #F9F5E7;
  text-shadow: 1px 1px black;
  border-radius: 0 0 10px 10px;
}