.App__done-tasks {
    background-color: #F9F5E7;
    width: 100%;
    border-top: 2px #A7727D dashed
}

.App__done-tasks__header {
    background-color: #EDDBC7;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.App__done-tasks__header:hover {
    opacity: 0.7;
}

.App__done-tasks ul {
    padding: 0;
}

.App__done-tasks ul li {

    padding: 10px 15px;
    display: flex;
}

.App__done-tasks ul li:nth-child(even) {
    background-color: #FFE7CC;
}

.App__done-tasks ul li .left {
    width: 80%;
}

.App__done-tasks ul li .right {
    text-align: right;
    font-size: 12px;
    min-width: 120px;
    width: 20%;
}